header {
    background: linear-gradient(rgba($cachet-icons, 0.5), rgba($cachet-icons, 0.5)), url(../img/header.jpg) no-repeat center top;
    padding-top: 250px;
    background-attachment: relative;
    background-position: center center;
    background-size: 100%;
    background-size: cover;

    min-height: 700px;
    width: 100%;

    h1 {
        color: white;
        font-size: 40px;
        line-height: 55px;
        letter-spacing: 2px;
        font-weight: 600;
    }

    h2 {
        color: white;
        font-size: 30px;
        line-height: 33px;
        margin-top: 10px;
        margin-bottom: 40px;
        font-weight: 400;
    }
}

section {
    &.grey.features {
        i {
            font-size: 42px;
            color: $cachet-primary;
        }
    }

    &.primary-green {
        padding-top: 80px;
        padding-bottom: 80px;
        &.subscribe {
            .subscribe-input {
                float: left;
                width: 65%;
                text-align: left;
                margin-right: 2px;
            }
        }
    }
}
