* {
    margin: 0;
    padding: 0px;
}

body {
    background: #fff;
    margin: 0;
    color: $cachet-base-dark;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;

    @media (max-width: $screen-xs-max) {
        font-weight: 400;
    }
}

h2.bold {
    font-weight: 900;
}

p {
    padding: 0;
    margin-bottom: 12px;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    margin-top: 10px;
}

hr {
    border: solid 1px #5a5a5a;
    width: 100px;
}

html,
body {
    height: 100%;
}

.alignleft { float: left; }
.alignright { float: right; }
.aligncenter {
    margin-left: auto;
    margin-right: auto;
    display: block;
    clear: both;
}
.centered {text-align: center}
.mts {margin-top: 25px;}
.mbs {margin-top: 25px;}
.mt {margin-top: 50px;}
.mb {margin-bottom: 50px;}
.mtb {margin-top: 50px; margin-bottom: 50px;}
.mtb2 { margin-top: 100px; margin-bottom: 100px;}
.ptb {padding-top: 80px; padding-bottom: 80px;}

.clear {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    width:100%;
}
::-moz-selection, ::selection  {
    color: #fff;
    text-shadow:none;
    background:$cachet-gray-light;
}

*,
*:after,
*:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    transition: background-color .4s linear, color .4s linear;
    color: $cachet-secondary;

    &:hover,
    &:focus {
      text-decoration: none;
      color:#696E74;
    }
}

.no-pad {
    padding: 0px !important;
    margin: 0px;
}

.no-pad-left {
    padding-left: 0px;
}

.no-pad-right {
    padding-right: 0px;
}

.cachet-green {
    color: $cachet-primary;
}
.cachet-blue {
    color: $cachet-blue;
}
.cachet-red {
    color: $cachet-red;
}
.cachet-teal {
    color: $cachet-teal;
}
.cachet-yellow {
    color: $cachet-yellow;
}
.cachet-pink {
    color: $cachet-pink;
}

/* Bootstrap Modifications */
.navbar {
    margin-bottom: 0;
    &.navbar-default {
        background-color: #F0F3F4;
        border-color: transparent;
        border-bottom: solid 1px darken(white, 10%);
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 11px;

        .navbar-brand {
            height: auto;
            padding: 15px 15px;
            font-size: 18px;
            font-weight: 900;
            line-height: 20px;
        }

        .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
            color: #555;
            background-color: transparent;
            border-bottom: 2px solid #e7e7e7;
        }

        .navbar-collapse {
            ul {
                li {
                    margin-top: 10px;
                    a {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

input {
    font-size: 16px;
    min-height: 40px;
    border-radius: 25px;
    line-height: 20px;
    padding: 11px 30px 12px;
    border: 1px solid #b9b9af;
    margin-bottom: 10px;
    background-color: #fff;
    transition: background-color 0.2s;
    color: $cachet-icons;

    &:focus {
        outline: none;
    }
}

.btn {
    &.btn-download {
        background: #FDE3A7;
    }

    &.btn-conf {
        border-radius: 50px;
        margin-right: 15px;
        font-size: 11px;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: 14px 28px 13px 28px;
    }

    &.btn-green {
        background: $cachet-secondary;
        color: white
    }

    &.btn-clear {
        background: transparent;
        color: white;
        border: 2px solid white;

        &:hover {
            background: white;
            color: #2f2f2f;
        }
    }
}

section {
    padding-top: 40px;
    padding-bottom: 40px;

    &.condensed {
        padding-top: 10px;
        padding-bottom: 20px;

        &.further {
            padding-top: 0;
            padding-bottom: 10px;
        }
    }

    h1, h2, h3, h4 {
        // font-weight: 700;
        // letter-spacing: 1px;
        // margin-bottom: 60px;
    }

    // Coloured sections.
    &.grey {
        background: #f9f9f9;
        &.level {
            border-bottom: solid 1px darken(#f9f9f9, 10%);
        }

        .love {
            &.col-sm-2 {
                height: 80px;
                line-height: 80px;
            }

            img {
                max-width: 140px;
                max-height: 60px;
                vertical-align: middle;
            }

            @media (max-width: $screen-xs-max) {
                img {
                    margin-bottom: 10px;
                }
            }
        }
    }

    &.dark-grey {
        background: $cachet-dark-grey;
        &.level {
            border-bottom: solid 1px darken($cachet-dark-grey, 10%);
        }
    }

    &.primary-green {
        background: $cachet-primary;
        color: white;
        &.level {
            border-bottom: solid 1px darken($cachet-primary, 10%);
        }

        i {
            color: white;
            margin-bottom: 20px;
        }
    }

    &.primary-blue {
        background: $cachet-blue;
        color: white;
    }
}

footer {
    .wrap {
        background:#302f31;
        color:#bbb8bf;
        padding:75px 0;
        font-size:14px;
        font-size:1.4rem;
        line-height:22px;

        a {
            color:#bbb8bf;
            display:block;

            &:hover {
                color:#fff
            }
        }

        h2 {
            margin:0 0 28px 0;
            color:#fff;
            font-size:24px;
            font-size:2.4rem;
            font-weight:900;
        }

        p {
            margin:0 0 24px 0;
        }

        form {
            position:relative;

            .form-control {
                background:0 0;
                border:2px solid #fff;
                padding:0 46px 0 15px;
                height:40px;
                color:#fff;
            }

            .submit {
                position:absolute;
                right:16px;
                top:10px;
                border:0;
                width:18px;
                height:20px;
                background-color: transparent;
                outline:0;
                padding:0;

                &::before {
                    font-family: Ionicons;
                    content: "\f10b";
                    color: #989798;
                    font-size: 20px;
                    line-height: 22px;
                }
            }
        }

        .socials {
            a {
                display:inline-block;
                width:40px;
                height:40px;
                line-height:40px;
                font-size:22px;
                font-size:2.2rem;
                color:#fff;
                float:left;
                margin:0 0 0 10px;
                border-radius:4px;
                background-clip:padding-box;
                text-align:center;
                box-shadow:0 3px 0 rgba(0,0,0,.1);

                &:first-child {
                    margin:0;
                }

                &.facebook {
                    background:#3262b9;
                    &:hover {
                        background:#2d57a5;
                    }
                }

                &.twitter {
                    background:#3dd7e5;
                    &:hover {
                        background:#27d2e2;
                    }
                }
            }
        }
    }

    .copyright {
        padding:50px 0 60px;
    }
}
