footer {
    &.primary {
        background-color: $cachet-dark-grey;
        padding: 60px 0 60px;
        text-align:center;

        h3 {
            line-height: 36px;
        }

        p {
            color: #fff;
            width: 60%;
            margin: 0 auto 40px;
            margin-top: 30px;
            font-size: 16px;
            line-height: 24px;
        }

        .social-icon {
            text-align: center;
            font-size: 36px;
            line-height: 76px;
            color: $cachet-link;
            padding: 5px;
            transition: all .3s;

            &:hover {
                color: $cachet-link-hover;
                transition: all .3s;
            }
        }
    }

    &.secondary {
        position:relative;
        text-align:center;
        padding:39px 0 36px;
        background: $cachet-grey;
        color:#999;
        margin:0 0;
        font-size:13px;
        font-weight:400;

        .copyright a {
            color:#aaa;

            &:hover {
                color: #FF6065;
            }
        }
    }
}
